<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% extends 'main.html' %}
    {% block content %}
    <div>
        <a href="{% url 'get_data' %}">Load data</a>
        {% for post in posts %}
        <h2>PostId: {{post.id}}</h2>
        <h2>Title:</h2> <h4>{{post.title}}</h4>
        <h2>Body:</h2><h4>{{post.body}}</h4>
        <hr>
        {% endfor %}
    </div>

    {% endblock %}
 
</body>
</html>