<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    {% extends 'main.html' %}
    {% block content %}

    <div>
        <h1><a href="{% url 'get_users' %}">Load users first</a></h1>
        <h2><a href="{% url 'get_data' %}">Load posts</a></h2>
        <p><a href="{% url 'create_post' %}">Create post</a></p>

        <form action="{% url 'home' %}" method="get">
            <input type="text" name="q" placeholder="Search by postId...">
        </form>

        {% for post in posts %}
            <h2>PostId: {{post.id}}</h2>
            <h2>Title:</h2>
            <h4>{{post.title}}</h4>
            <h2>Body:</h2>
            <h4>{{post.body}}</h4>
            <a href="{% url 'update_post' post.id %}">Update</a>
            <a href="{% url 'delete_post' post.id %}">Delete</a>
            <hr>
        {% endfor %}
    </div>

    {% endblock %}

</body>

</html>